.titleClass{
    color: #333333;
    font-size: 24px;
}

.btnRight{
    float: right;
    margin-bottom: 16px;
}

.btnsContainer{
    margin-top: 48px;
}

.buttonSize{
    width: 40%;
}

.errorLabel{
    color: #cf2525;
    font-size: 12px;
}

/* Chrome, Safari, Edge, Opera  Quito flechas para subir o bajar el monto*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.titlePage {
        font-family: "ARIAL", serif;
        font-size: 24px;
}

.cursorPointer {
    cursor: pointer;
}

tr:active {
    background-color: #d3d3d3;
}

.descriptionLabel{
    font-size: 12px;
    margin-left: 4px;
}

.modal-content.modal-create-group-success {
    background-color: rgba(0, 255, 0, 0.7);
    font-size: 16px;
    color: white;
}

.modal-content.modal-create-group-error {
    background-color: rgba(255, 0, 0, 0.7);
    font-size: 16px;
    color: white;
}

.modal-content.modal-warning-member-delete {
    background-color: rgba(248, 245, 245, 0.979);
    font-size: 16px;
    color: #333333;
}

.paddingLeftTop {
    padding-left: 20px;
    padding-bottom: 8px;
}


@media (max-width: 600px) {
    tr {
        font-size: 12px;
    }
    .textToHide {
        display: none;
    }
    .btnWidth100Small {
        width: "100%" !important;
    }
    .divCommon {
        left: "0px";
        width: "100%";
    }
    .expenseInputSize{
        width: "100%";
    }
    
  }
  